@import '../node_modules/bootstrap/scss/bootstrap';

body {
  padding: 3em;
  font-family: 'Raleway', sans-serif;
}

h1, h3, h5 {
  font-family: 'Exo', sans-serif;
}

section {
  margin: auto auto -12em auto;
  padding: 0 2em 0 2em;
}

.navbar {
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255, 0.75) 65%,rgba(255,255,255,0) 100%);
}

.navbar-nav {
  justify-content: space-around;
  max-width: 1600px;
  margin: auto;
  width: 100%;
}

.nav-item:hover {
  cursor: pointer;
}

.social-dropdown {
  display: none;

  .social-logo {
    height: 3em;
    padding: 0.4em;

    &:hover {
      height: 3.5em;
    }
  }
}

.social-link:hover .social-dropdown {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
  background: none;
  margin-top: 10vh;
  padding-top: 5em;

  h1 {
    text-align: left;
    font-size: 15vw;
  }

  p {
    max-width: 1200px;
    margin: 2em auto;
    text-align: center;
    font-size: 1.2em;
  }
}

// start projects section ------------------->

.project-container {
  padding-top: 3em;
  margin: auto -1.5em;
}

.project {
  padding: 0 1.5em .5em 1.5em;
  color: #212529;

  &:hover {
    text-decoration: none;
  }
}

.card-img-top {
  margin-bottom: -1em;
  filter: grayscale(10%);

  .border {
    border: 1px solid;
  }
}

.card-text {
  font-size: .9em;
}

.card-title {
  font-size: 1.1em;
}

// start experience section -------------------->

.experience-container {
  display: flex;
  justify-content: space-evenly;
  padding-top: 2.5em;

  .experience-item {
    display: flex;
    align-items: center;
    padding-right: 1.3em;
    margin: 1em auto;

    &:first-child {
      margin-top: 0;
    }

    h4 {
      padding-top: 0.5em;
      margin: 0;
    }

    span {
      font-family: 'Exo', sans-serif;
    }

    p {
      max-width: 900px;
      padding: 0.5em;
      margin: 0 0 0 0.5em;
      border-left: 1px solid;
      background: honeydew;
    }

    .ed-logo {
      height: 6em;
      max-width: 7em;
      margin-right: 1.7em;
    }
   
  }
}

.tech-stack {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #d9eefa;
  padding: 1em 1.5em;
  width: 12em;
}

.stack-collapse {

  h5 {
    font-size: .97em;
    margin-bottom: 1em;
  }

  ul {
    padding: 0;
  }

  li {
    list-style-type: none;
  }
}

//  start about section ----------------------->


.about-section {

  .bio {
    padding-top: 3em;
  }

  p {
    max-width: 900px;
    margin: 0 auto 1.2em auto;
  }
}


//  start music section ----------------------->

.music-container {

  display: flex;
  justify-content: center;
  padding-top: 3em;
  padding-bottom: 3em;

  img {
    object-fit: contain;
    height: 300px;
  }

  .bandbamp-widget {
    margin: auto;
    height:100%;
    min-width: 260px;
  }
}

//  start footer ----------------------->

footer {

  height: 10em;
  margin-top: 10em;
  margin-bottom: 8em;

  .social-bar {
    display: flex;
    justify-content: center;
    align-items: center;

    .social-logo {
      height: 3em;
      margin: auto 3em;
    }
  }
  
  p {
    text-align: right;
    position: relative;
    margin-top: -5em;
    bottom: -8em;
  }
}




@include media-breakpoint-up(md) {

  section {
    max-width: 1600px;
    margin:auto;
  }

  .project-container {
    max-width: 1400px;
    margin: auto;
  }
}

@include media-breakpoint-down(md) {

  * {
    font-size: .95rem;
  }

  body {
    padding: .5em;
  }

  .jumbotron {
    height: auto;
  }

  iframe {
    max-width: 100vw;
  }

  .navbar {
    background: none;

    .nav-item {
      background: white;
      text-align: center;
    }

    .navbar-nav {
      margin-top: -40px;
      z-index: 1;
    }

    button {
      background: white;
      z-index: 3;
    }
  }

  .social-dropdown {
    flex-direction: row;
    background: white;
  }
  

  .tech-stack {
    display: none;
  }
}

@include media-breakpoint-down(xs) {
  
  .ed-logo {
    display: none;
  }

  .music-container {
    display: block;

    img {
      display: none;
    }
  }
}

// scroll arrow by Jakub Honíšek from freeCss-------------------->


$base: 0.4rem;

.scroll-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 7rem auto;
}

.chevron {
  position: absolute;
  width: $base * 3.5;
  height: $base * 0.8;
  opacity: 0;
  transform: scale(0.3);
  animation: move-chevron 3s ease-out infinite;
}

.chevron:first-child {
  animation: move-chevron 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move-chevron 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
 content: '';
 position: absolute;
 top: 0;
 height: 100%;
 width: 50%;
 background: #2c3e50;
}

.chevron:before {
 left: 0;
 transform: skewY(30deg);
}

.chevron:after {
 right: 0;
 width: 50%;
 transform: skewY(-30deg);
}

.main-h-title{
  font-size: 140px;
  text-align: left;
}

@media (max-width: 400px) {
  .journals-list{
    margin-left: -40px;
  }
  .list-p{
    font-size: 11px;
  }
  .list-p span{
    display: none;
  }
  .list-p a{
    /* display: block; */
    font-size: 11px;
  }
}

@keyframes move-chevron {
 25% {
  opacity: 1;
  }
 33.3% {
  opacity: 1;
  transform: translateY($base * 3.8);
 }
 66.6% {
  opacity: 1;
  transform: translateY($base * 5.2);
 }
 100% {
  opacity: 0;
  transform: translateY($base * 8) scale(0.5);
 }
}










